## Interactive Script

### Import functions

In [1]:
from Financial_Model_Functions import *
import pandas as pd
import datetime
from datetime import date
import os

## Defined fields (to be replaced with .yml file)

In [2]:
account_hierarchy = load_config()
financial_data = pd.DataFrame(columns = account_hierarchy['column_names'])
num_fields = len(account_hierarchy['column_names'])

# Main Script

### Ask user whether to load in file or start from scratch. If load is preferred, execute load

In [3]:
#Promt user to decide whether to load in a file
print("Hello, would you like to start from scratch (Y) or start from an existing file (N) ?")
start_prompt = input()
if start_prompt == "Y":
    print("OK, let's get this show on the road.")
elif start_prompt == "N":
    #retrieve starting file path from user input and read in financial_data df from csv at specified file location
    financial_data, starNting_file_path = load_starting_csv(account_hierarchy['column_names'])
else:
    print("input error")

Hello, would you like to start from scratch (Y) or start from an existing file (N) ?
N
Which file would you like to use as a starting point? Please provide the file path
I suggest a file path in the format:
C:\Users\kirschenbauer paul\Learning Material\Financial Tool\Financial Tool Repository\2023-01-02_financial_data.csv2023-02-10_financial_data.csv

The dataframe has 83 rows/entries
The dataframe's most recent entry is from: 2019-06-01
The dataframe's least recent entry is from: 2023-02-10

## Prompt user to add new data (new)

In [4]:
# print("")
print("Hello, would you like to add new data?")
new_data_input=input()
if new_data_input == "Y":
    #call function to create input prompt, resulting in a DF
    i = 0
    while i == 0:
        print("OK Great. Let's get started!")
        row_to_add = pd.DataFrame(list(account_balance_prompt(fields = account_hierarchy['column_names']).items()))
        
        #Transpose df
        row_to_add = row_to_add.T
        # Copy first row to column headers
        row_to_add.columns = row_to_add.iloc[0]
        # Delete first row
        row_to_add.drop([0],inplace = True)
        # Add date to dataframe
        row_to_add['Date'] = date.today()
        #Set date as index
        row_to_add.set_index('Date')
        #Replace empty inputs with 0
        row_to_add = row_to_add.replace('',0)
        
        financial_data = pd.concat([financial_data, row_to_add])    
        print("")
        print("Would you like to add more?")
        if input() == "Y":
            i = 0
        else:
            i = 1

Hello, would you like to add new data?
Y
OK Great. Let's get started!
Results:
Porsche_401k: 4
BCG_401k: 4
Home_Value: 4
Car: 4
GKW_Value: 4
Coinbase: 4
Ally_Stocks: 4
BoA_Checking: 4
Ally_Checking: 4
Ally_Savings: 4
CreditCard_BoA: 4
CreditCard_Amex_Personal: 4
CreditCard_Amex_Corporate: 4
CreditCard_Amazon: 4
CreditCard_Apple: 4
IdealImage_Loan: 4
CreditCard_Sweetwater: 4
Car_Loan: 4
Home_Mortgage: 4
Home_Loan_401k:

Would you like to add more?
N

In [5]:
# financial_data["Date"] = financial_data["Date"].date()
# financial_data.set_index("Date",inplace=True)
financial_data

,Date,Porsche_401k,BCG_401k,Home_Value,Car,GKW_Value,Coinbase,Ally_Stocks,BoA_Checking,Ally_Checking,...,CreditCard_BoA,CreditCard_Amex_Personal,CreditCard_Amex_Corporate,CreditCard_Amazon,CreditCard_Apple,IdealImage_Loan,CreditCard_Sweetwater,Car_Loan,Home_Mortgage,Home_Loan_401k
0,2019-06-01,36836.0,0.0,360000,0,0.0,0.0,3705.0,472.0,622.0,...,2410.0,3902.0,0.0,0.0,0.0,0.0,0.0,0.0,264800.0,18000.00
1,2019-07-02,39631.0,0.0,360000,0,0.0,0.0,3788.0,1166.0,1390.0,...,1609.0,709.0,0.0,0.0,0.0,0.0,0.0,0.0,263691.0,18000.00
2,2019-08-06,39903.0,0.0,360000,0,0.0,0.0,3354.0,106.0,2211.0,...,858.0,168.0,0.0,0.0,0.0,0.0,0.0,0.0,262578.0,17753.00
3,2019-09-03,41993.0,0.0,360000,0,0.0,0.0,2877.0,547.0,727.0,...,1463.0,84.0,0.0,0.0,0.0,0.0,0.0,0.0,261462.0,17653.00
4,2019-09-09,42762.0,0.0,360000,0,0.0,0.0,2693.0,1681.0,2497.0,...,2338.0,197.0,0.0,0.0,0.0,0.0,0.0,0.0,261462.0,17653.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,2023-01-04,90090.11,40422.91,360000,20000,32907.27,1704.91,24033.46,6992.99,1393.96,...,125.07,6320.0,237.1,1563.11,0.0,687.2,730.4,7612.4,224701.03,12619.17
80,2023-01-13,95377.54,42374.19,360000,20000,32907.27,1936.15,30676.76,8990.68,2041.11,...,185.35,7255.0,363.54,1694.86,0.0,687.2,691.4,7612.4,225870.4,12619.17
81,2023-01-27,97753.79,44022.82,360000,20000,32907.27,2216.94,54721.52,3130.47,2062.93,...,0.0,5563.53,695.0,465.97,55.9,687.2,691.4,7612.4,225870.4,12619.17
82,2023-02-10,97196.03,44604.38,360000,20000,32907.27,2213.6,56196.26,4511.47,1530.36,...,448.33,438.0,0.0,495.17,266.25,631.4,652.4,7195.45,223529.4,12482.09
1,2023-02-24,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,0.00

## Save as CSV

In [ ]:
try:
    print("")
    print('Remember, the file you read in was: '+ starting_file_path)
except:
    print("")
print("Would you like to save this dataframe as: "+str(date.today())+"_financial_data"+".csv in the same folder?")
print("")
save_decision = input()
if save_decision == "Y":
    file_name = str(date.today())+"_financial_data"+".csv"
    financial_data.to_csv(file_name)
if save_decision == "N":
    print("Ok. Understandable. Have a good day.")

## Prompt user to add new data (old)

In [ ]:
# print("")
# print("Hello, would you like to add new data?")
# new_data_input=input()
# if new_data_input == "Y":
#     i = 0
#     while i == 0:
#         print("OK Great. Let's get started!")
#         add_row(financial_data, account_hierarchy['column_names'], num_fields)
#         print("")
#         print("Would you like to add more?")
#         if input() == "Y":
#             i = 0
#         else:
#             i = 1
#     financial_data.set_index(financial_data["Date"],inplace = True)
#     financial_data.set_index("Date",inplace=True)
#     print(financial_data)
#     try:
#         print("")
#         print('Remember, the file you read in was: '+ starting_file_path)
#     except:
#         print("")
#     print("Would you like to save this dataframe as: "+str(date.today())+"_financial_data"+".csv in the same folder?")
#     print("")
#     save_decision = input()
#     if save_decision == "Y":
#         file_name = str(date.today())+"_financial_data"+".csv"
#         financial_data.to_csv(file_name)
#     if save_decision == "N":
#         print("Ok. Understandable. Have a good day.")
# elif new_data_input == "N":
#     print("Ok. Understandable. Have a good day.")  
# else:
#     print("input error")

In [ ]:
calculate_net_worth(financial_data, account_hierarchy['Assets'], account_hierarchy['Liabilities'])

## Change vs. previous date and change since start of data

In [ ]:
start_date = financial_data.index.min()
end_date = financial_data.index.max()

alt_start_date = financial_data.index.sort_values(ascending = False)
alt_start_date = alt_start_date[1]
create_summary_table(financial_data, alt_start_date, end_date)

In [ ]:
# financial_data.set_index("Date",inplace = True)
start_date = financial_data.index.max()
end_date = financial_data.index.min()
create_summary_table(financial_data, start_date, end_date)

In [ ]:
#move to YML file?
symbols = account_hierarchy['Stocks_to_fetch']
start = financial_data.index.min()
end = financial_data.index.max()

#fetch and apend price data for identified symbols
financial_data_w_yf = fetch_yf_data(financial_data, symbols, start, end)
financial_data_w_yf

In [ ]:
plot_time_series(financial_data_w_yf, y_dimension="Calculated_Net_Worth", y_dimension_name="Calculated Net Worth", plot_title= "Net Worth Over Time")

In [ ]:
plot_time_series(financial_data_w_yf, y_dimension="SPY", y_dimension_name="SPY", plot_title= "SPY Over Time")

In [ ]:
financial_data

In [ ]:
plot_stacked_area(financial_data, account_hierarchy, 'Assets')

In [ ]:
#Want to make this work for liabilities as well by adjusting inputs
plot_stacked_area(financial_data, account_hierarchy, 'Liabilities')

In [ ]:
# financial_data.index.max()
# financial_data.index.sort_values(ascending = False)

In [ ]:
# import tkinter as tk

# def show_selected_date():
#     # get the selected date
#     selected_date = var.get()
#     print("Selected date:", selected_date)
#     # update the variable storing the selected date
#     selected_date_variable.set(selected_date)

# # create a sample list of dates
# dates = financial_data.index

# # create the main window
# root = tk.Tk()
# root.title("Select date")

# # create the drop-down menu
# var = tk.StringVar(value=dates[0])
# option = tk.OptionMenu(root, var, *dates)
# option.pack()

# # create a button to show the selected date
# show_button = tk.Button(root, text="Show selected date", command=show_selected_date)
# show_button.pack()

# # create a variable to store the selected date
# selected_date_variable = tk.StringVar()

# # start the main loop
# root.mainloop()

In [ ]:
# type(alt_start_date) == type(end_date)

In [ ]:
# selected_start_date

In [ ]:
# start_date = financial_data.index.max()
# end_date = financial_data.index.min()

# selected_start_date = select_end_date(financial_data)
# selected_start_date
# create_summary_table(financial_data, selected_start_date, end_date)

In [14]:
pd.to_datetime(financial_data['Date'])

AttributeError: 'Series' object has no attribute 'date'

In [ ]:
financial_data = financial_data.reset_index()
financial_data['Date']

In [12]:
type(pd.to_datetime(financial_data['Date']))

pandas.core.series.Series